@import url('https://fonts.googleapis.com/css2?family=Antipasto+Pro:wght@400;700&display=swap');

h1 {
    font-family: 'Antipasto Pro', sans-serif;
    font-weight: 1000;
}

p {
    font-family: 'Antipasto Pro', sans-serif;
    font-weight: 400;
}