@import url('https://fonts.googleapis.com/css2?family=Antipasto+Pro:wght@400;700&display=swap');

h1 {
    font-family: 'Antipasto Pro', sans-serif;
    font-weight: 1000;
}

p, table {
    font-family: 'Calibri', sans-serif;
    font-weight: 400;
}

ol, li {
    font-family: 'Calibri', sans-serif;
  }

.labels {
    font-family: 'Calibri', sans-serif;
    font-weight: 800;
}

body {
    margin: 0;
}

.workoutinfo {
    font-family: 'Calibri', sans-serif;
    font-weight: 800;
}

.core {
    border: 2px solid black;
    padding-left: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: orange;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Style the topnav links */
.topnav a {
    float: left;
    border-right: 1px solid black;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: 1px solid black;
}

.topnav a:last-child {
    border-right: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: coral;
    /* color: black; */
}

.active {
    background-color: grey;
    color: white;
}

table,
th,
td {
    border: 1px solid black;
}