<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles.css" rel="stylesheet">
    </head>
    <title>
        Saturday Mileage for: {{ athletename }}
    </title>
    <body>
        <div class="topnav">
            <a href="/{{athletename}}/0">Monday</a>
            <a href="/{{athletename}}/1">Tuesday</a>
            <a href="/{{athletename}}/2">Wednesday</a>
            <a href="/{{athletename}}/3">Thursday</a>
            <a href="/{{athletename}}/4">Friday</a>
            <a class="active"href="#home">Saturday</a>
            <a href="/{{athletename}}/6">Sunday</a>
            <a style="float:right" href="/">Athlete Selection</a>
          </div>

        <div style="padding:20px;margin-top:1px;height:1500px;">
        <h1>Saturday Mileage for: {{ athletename }}</h1>
        <p>Mileage: {{ mileage }}</p>
        <p>FMS Group: {{ fms }}</p>
        <p>Notes: {{ notes }}</p>
        <p>Total Mileage: {{ total_miles }}</p>
        <p>Today's Core: 
            <ul>
                {% for thing in core %}
                  <li>{{ thing }}</li>
                {% endfor %}  
            </ul>
        </p>
    </body>
</html>