<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles.css" rel="stylesheet">
    </head>
    <title>
        Thursday Mileage for: {{ athletename }}
    </title>
    <body>
        <div class="topnav">
            <a href="/{{athletename}}/0">Monday</a>
            <a href="/{{athletename}}/1">Tuesday</a>
            <a href="/{{athletename}}/2">Wednesday</a>
            <a class="active"href="#home">Thursday</a>
            <a href="/{{athletename}}/4">Friday</a>
            <a href="/{{athletename}}/5">Saturday</a>
            <a href="/{{athletename}}/6">Sunday</a>
            <a style="float:right" href="/">Athlete Selection</a>
        </div>

        <div class="mileage">
            <h1>Thursday Mileage for: {{ athletename }}</h1>
            <p>Mileage: {{ mileage }}</p>
            <p>FMS Group: {{ fms }}</p>
            <p>Notes: {{ notes }}</p>
            <p>Total Mileage: {{ total_miles }}</p>

            <div class="core">
                <p>Today's Core: 
                <ol>
                    {% for thing in core %}
                    <li>{{ thing }}</li>
                    {% endfor %}  
                </ol>
                </p>
            </div>
        </div>
    </body>
</html>