<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Sheet</title>
</head>
<body>
    <div class="topnav">
        <a href="/{{athletename}}/0">Monday</a>
        <a class="active"href="#home">Tuesday</a>
        <a href="/{{athletename}}/2">Wednesday</a>
        <a href="/{{athletename}}/3">Thursday</a>
        <a href="/{{athletename}}/4">Friday</a>
        <a href="/{{athletename}}/5">Saturday</a>
        <a href="/{{athletename}}/6">Sunday</a>
        <a style="float:right" href="/">Athlete Selection</a>
      </div>

    <div class="mileage">
    <h1>Tuesday Workout for: {{ athletename }}</h1>
    <table class="workout">
        <tr>
            {% for label in tueworkoutsheet[0][1:] %}
                <th class="labels">{{ label }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for split in tueworkoutsheet[1][1:] %}
                <td>{{ split }}</td>
            {% endfor %}
        </tr>
    </table>
    <div class="workoutinfo">
        <h4>Workouts:</h4>
        {% for key, item in tueworkoutinfo.items() %}
            <p>{{key}}:{{item}}</p>
        {% endfor %}
    </div>
</body>
</html>
