<!DOCTYPE html>
<html>
    <head>
        <link href="../static/styles.css" rel="stylesheet">
    </head>
    <title>
        Wednesday Mileage for: {{ athletename }}
    </title>
    <body>
        <div class="topnav">
            <a href="/{{athletename}}/0">Monday</a>
            <a href="/{{athletename}}/1">Tuesday</a>
            <a class="active"href="#home">Wednesday</a>
            <a href="/{{athletename}}/3">Thursday</a>
            <a href="/{{athletename}}/4">Friday</a>
            <a href="/{{athletename}}/5">Saturday</a>
            <a href="/{{athletename}}/6">Sunday</a>
            <a style="float:right" href="/">Athlete Selection</a>
          </div>

        <div style="padding:20px;margin-top:1px;height:1500px;">
        <h1>Wednesday Mileage for: {{ athletename }}</h1>
        <p>Mileage: {{ mileage }}</p>
        <p>FMS Group: {{ fms }}</p>
        <p>Notes: {{ notes }}</p>
        <p>Total Mileage: {{ total_miles }}</p>
        <div class="core">
            <p>Today's Core: 
            <ol>
                {% for thing in core %}
                <li>{{ thing }}</li>
                {% endfor %}  
            </ol>
            </p>
        </div>
    </body>
</html>
